
@font-face {
font-family: 'CT';
src:
 url('https://rawgit.com/nicolejonasson/CollaborativeTypeface/gh-pages/Type/CT-Regular.ttf');
}


html {
  height: 100%; }

body {
  /* background: radial-gradient(rgb(215, 255, 160), white, rgb(215, 255, 160)); */
  width: 120%;
  margin: 0;
  height: 100%;
  position: relative;
}

#canvas-container{
  background: blue;
  width: 150%;
  top:0;
  left: 0;
}


#wrapper{
  /* margin: 10%; */
  width: 100%;
  height: 80%;
  top: 20%;

  position: relative;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows:repeat(5,1fr);
  /* margin-right: ; */
  /* margin-left: 2%; */

}

#wrapper > div{
  /* width: 100%; */
  /* height: 70%; */
    -webkit-user-select: none;
    cursor: cell;
    /* padding: 5%; */
    border-radius: 15px;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    box-shadow:  10px 10px 200px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

#wrapper > .box:hover{
  background: rgba(200, 200, 200, 0.5);
  color: white;
}

#intro{
  padding-top: 5vh;
  height: 70vh;
  width: 30vw;
  grid-column: 3;
  grid-row: 3;

}

#box{
  background: rgba(255, 255, 255, 0.1);
  width: 90%;
  height: 17vh;
  margin-top: 15vh;
  margin-bottom: 0px;
  grid-column: 3;
  grid-row: 3;
  margin-left: 5%;
}

#box:hover{
  background: rgba(200, 200, 200, 0.5);
  color: white;
}



/* #box-1{
  visibility: hidden;
  grid-column: 2;
  grid-row: 3;

} */


#box-2{
  visibility: hidden;
  grid-column: 2;
  grid-row: 2;
}


#box-3{
  visibility: hidden;
  grid-column: 4;
  grid-row: 2;
}


#box-4{
  visibility: hidden;
  grid-column: 2;
  grid-row: 4;
}


#box-5{
  visibility: hidden;
  grid-column: 4;
  grid-row: 4;
}


#box-6{
  /* margin-top: -150px; */
  visibility: hidden;
  /* margin-top: -50px; */
  grid-column: 5;
  grid-row: 1;
}

#box-7{
  /* margin-top: -150px; */
  visibility: hidden;
  grid-column: 1;
  grid-row: 1;
}

#box-8{

  visibility: hidden;
  grid-column: 5;
  grid-row: 5;
}

#box-9{

  visibility: hidden;
  grid-column: 1;
  grid-row: 5;
}

p.big{
  font-family: "CT";
  font-size:3.5vw;
  padding: 2%;
  text-align: center;
  margin-top: 2%;
  letter-spacing: 1vw;
  line-height: 1;


}


span#head{
  padding: 5px 10px 5px 10px;
  width: auto;
  text-align: center;
  font-family: "CT";
  font-size:1.3vw;
  letter-spacing: 0.2vw;
  line-height: 2;
  text-transform: lowercase;
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow:  -5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

p.small{
  font-family: "times new roman";
  /* font-family: "ct"; */
  /* letter-spacing: 5px; */
  margin-bottom: 20vh;
  font-size:1.2vw;
  text-align: center;
  line-height: 1.2;
}


.des{
  font-family: "Times New Roman";
  padding-left: 5%;
  padding-right: 5%;
  font-size:1vw;
  width: 20vw;
  height: 15vh;
}


.box:hover > div {
  background: rgba(220, 220, 220, 0.5);
  color: white;
  border: 0.5px solid white;
}

.box{
  width: 25vw;
  height: 8vh;
  text-align: center;
  letter-spacing: 0.5vw;
  font-family: "ct";
  font-size:2vw;
  line-height: 4vw;
  color: black;

}


a{
  /* margin-left:90px; */
  text-align: center;
  float: right;
  margin-top: 80px;
  margin-right: 10px;
  padding: 10px;
  border: 0.5px solid black;
  font-family: "ct";
  text-decoration: none;
  color:black;
}

a:hover{
  background: rgba(220, 220, 220, 0.5);
  color: white;
  border: 0.5px solid white;
}


i {
    border: solid black;
    border-width: 0 0.1vw 0.1vw 0;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    padding: 3%;
    float: right;
    margin-top: 5%;
    margin-right: 3%;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    padding: 3%;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
}

.down {
    transform: rotate(0deg);
    -webkit-transform: rotate(45deg);
    padding: 10%;
}
